@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x:hidden;
}

:root{
--black-color:#1b1b1b;
--primary-color:#ffed92e6;
--white-text:#fffffff4;
--box-shadow:20px 20px 30px rgba(0, 0, 0, 0.04);
}
@font-face {
  font-family: modera;
  src: url('images/MODERA.otf');
}
input{
  outline: none;
  background-color: transparent;
  height: 40px;
}
.hero-text h1{
  font-family: modera;
  color: var(--primary-color);
  font-size: 140px;
}
.hero-text h2{
 color: white;
 font-size: 80px;
 font-family: modera;

}
h1,h2,h3,h4,p{
  font-family:"Montserrat", sans-serif;
}
.container{
  width: 90%;
  margin: 0 auto;
}
p{
  line-height: 1.8em;
}

/* homee page  */
.form-seg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.756)), url('./images/Alternate.jpg');
  height: 100vh;
   background-color: black;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--primary-color);

}
.hero-segment{
  background-image: linear-gradient(rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.756)), url('./images/FrontPage.jpg');
 height: 100vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  width: 100%;
  order: 1;
}
.image-background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/Main.jpg');
  height: 60vh;
   background-color: black;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}
.text-seg{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  background-color: #0a0a0a;
  color: white;
  height:50vh ;
  line-height: 1.5em;
}
.text-seg p{
  margin-top: 20px;
}
.cont{
  width: 60%;
  margin: 15px auto;
}

.char{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;

}
.charr{
  background-color: #121212;
}

.char-img{
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
  align-self: center;
 
}
.txt{
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
text-align: start;
width: 45%;
min-width: 250px;
transform: translateX(-100px);

}
.txt.two{
transform: translateX(0px);

}
.txt h2{
  text-align: justify;
  color: var(--primary-color);
  font-size: 35px;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
  background-color: #000000;
  color: var(--primary-color);
  gap: 50px;
  font-size: 40px;
  text-align: center;
}

video {
  max-width: 100%;
  height: 60vh;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
}
.img-grid{
  background-color: #0a0a0a;
}
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 90px 0;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; padding: 80px;
  }

.div1 { grid-area: 1 / 1 / 3 / 2; 
  background-image: url('./images/IMG_7424.jpeg')
  ; 
  }
  .div2 { grid-area: 1 / 2 / 2 / 3;
    background-image: url('./images/IMG_7421.jpeg'); 
   }
  .div3 { grid-area: 3 / 1 / 4 / 3;
    background-image: url('./images/IMG_7422.jpeg'); 
  }
  .div4 { grid-area: 2 / 2 / 3 / 3; background-image: url('./images/IMG_7418.jpeg');}

  .div5 { grid-area: 2 / 3 / 4 / 4; background-image: url('./images/IMG_7426.jpeg'); }

  .div6 { grid-area: 1 / 3 / 2 / 5;background-image: url('./images/IMG_7425.jpeg'); }

  .div7 { grid-area: 2 / 4 / 4 / 5;background-image: url('./images/IMG_7423.jpeg'); }

 form{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
 }
input,
textarea{
  width: 60%;
  margin: 10px auto;
  background-color: transparent!important;
  color: white;
  padding: 5px;
  border: 1px solid rgb(238, 203, 203);
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}
::placeholder{
  font-size: 15px;
  text-transform: capitalize;
  color: var(--primary-color);
  
}
button{
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid var(--primary-color);
  padding: 8px 10px;
  font-size: 18px;
width: 10%;
margin: 10px auto;
border-radius: 10px;

}
input:focus,
textarea:focus {
  background-color: transparent !important;
}
footer{
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
footer i{
  font-size: 30px;
  padding-left: 5px;
}
/* dia */
@media (max-width: 768px) {
  .text-seg{
    height: 60vh;
  }
  .container {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }

  .div7 {
    grid-area: 7 / 1 / 8 / 2;
  }}

@media screen and (max-width: 540px){
  .char{
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    gap: 30px;
    justify-content: center;
  }
  .txt{
    transform: translateX(0px);
    order: 1;
    width: 60%;
min-width: 300px;
  }
  input,
textarea{
  width: 80%;
}
  .cont{
  width: 80%;
  margin: 15px auto;
  }
button{
  width: 20%;
}
.video-container{
  font-size: 30px;
}
  .hero-text h1{
  font-family: modera;
  color: var(--primary-color);
  font-size: 100px;
      }
 
}
